@model ArchBook.Services.Pilotage.Books.Dto.PromotionalPriceFormDto

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        @Html.ValidationSummary()
        <button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@using (Html.BeginForm())
{
    <div class="form-group row">
        @Html.LabelFor(x => x.Price, new { @class = "col-sm-3 col-form-label" })
        <div class="col-sm-3">
            <div class="input-group">
                @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                <div class="input-group-append">
                    <span class="input-group-text">$</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Period</label>
        @Html.HiddenFor(x => x.StartDate)
        @Html.HiddenFor(x => x.EndDate)
        <div class="col-sm-4">
            @Html.TextBox("Period", "", new { @class = "form-control" })
        </div>
    </div>
}

